<%= form_for @workout, html: {class: 'form-horizontal'} do |f| %>

  <div class="control-group<%= " error" if f.has_errors?(:key) %>">
    <%= f.label :key, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :key, class: 'span2' %>
      <%= f.errors_for :key %>
    </div>
  </div>

  <div class="control-group<%= " error" if f.has_errors?(:name) %>">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: 'span6' %>
      <%= f.errors_for :name %>
    </div>
  </div>

  <div class="control-group<%= " error" if f.has_errors?(:description) %>">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'span6', rows: 10 %>
      <%= f.errors_for :description %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button class: "btn btn-primary" %>
    <%= link_to 'Cancel', workouts_path, class: "btn" %>
  </div>

<% end %>
