<h1>Listing workouts</h1>

<%= link_to new_workout_path, class: 'pull-right' do %>
  <i class="icon-plus"></i> New Workout
<% end -%>

<table class="table table-striped">
  <tr>
    <th>Key</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.key %></td>
    <td><%= workout.name %></td>
    <td><%= workout.description %></td>
    <td>
      <%= link_to 'Show', workout, class: 'btn btn-small btn-info' %>
      <%= link_to 'Edit', edit_workout_path(workout), class: 'btn btn-small btn-success' %>
      <%= link_to 'Destroy', workout, confirm: 'Are you sure?', method: :delete, class: 'btn btn-small btn-danger' %>
    </td>
  </tr>
<% end %>
</table>
