<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @workout.key %>
</p>

<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>Description:</b>
  <%= @workout.description %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
