<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"} do |f| %>

  <div class="control-group<%= " error" if f.has_errors?(:email) %>">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
      <%= f.errors_for :email %>
    </div>
  </div>

  <div class="control-group<%= " error" if f.has_errors?(:password) %>">
    <%= f.label :password, class: 'control-label' %> 
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off" %>
      <%= f.errors_for :password %>
      <span class="help-inline">leave blank if you don't want to change it</span>
    </div>
  </div>

  <div class="control-group<%= " error" if f.has_errors?(:password_confirmation) %>">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :password_confirmation %>
      <%= f.errors_for :password_confirmation %>
    </div>
  </div>

  <div class="control-group<%= " error" if f.has_errors?(:current_password) %>">
    <%= f.label :current_password, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_password %>
      <%= f.errors_for :current_password %>
      <span class="help-inline">we need your current password to confirm your changes</span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>

<div>
  <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger' %>

  <%= link_to "Back", :back, :class => 'btn' %>
</div>

