<h1>Listing schedules</h1>

<table>
  <tr>
    <th>Day</th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.day %></td>
    <td>
      <%= link_to 'Show', schedule, class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_schedule_path(schedule), class: 'btn btn-success' %>
      <%= link_to 'Destroy', schedule, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path %>
