<h2>Sign in</h2>

<%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'} do |f| %>

  <div class="control-group<%= " error" if f.has_errors?(:key) %>">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
      <%= f.errors_for :email %>
    </div>
  </div>

  <div class="control-group<%= " error" if f.has_errors?(:key) %>">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
      <%= f.errors_for :password %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <div class="controls">
        <%= f.label :remember_me, class: 'checkbox' do %>
          <%= f.check_box :remember_me %>
          Remember Me
        <% end %>
      </div>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "Sign in", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "links" %>