<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gym Leader</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Gym Leader</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><%= link_to "Schedules", schedules_path %></li>
              <li><%= link_to "Workouts", workouts_path %></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <div class="navbar-inner pull-right">
            <ul class="nav">
              <%= render "login_items" %>
              <%= render "registration_items" %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <% flash.each do |name, msg| %>
        <div class="alert fade in <%= flash_class(name) %>">
          <a class="close" href="#" data-dismiss="alert">&times;</a>
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
